<main class="main">
  <section class="main__cities cities">
    <ul id="cities__list" class="cities__list forecast"></ul>
  </section>
  <i class="burger-btn icon icon-menu"></i>
  <aside class="main__sidebar sidebar">
    <div id="sidebar__form" class="sidebar__form form">
      <div class="form__header">
        <input id="form__input" class="form__input js-hide" type="text"/>
        <span class="sidebar__add icon icon-add"></span>
        <span id="delete" class="sidebar__del icon icon-delete"></span>
      </div>
      <div id="autocomplete__wrapper">
        <ul class="sidebar__autocomplete autocomplete js-hide" id="sidebar__autocomplete"></ul>
        <ul class="sidebar__autocomplete autocomplete" id="sidebar__cities"></ul>
      </div>
    </div>
      <div id="sidebar__config" class="sidebar__config config"></div>
  </aside>
</main>