@charset "UTF-8";

@font-face {
  font-family: PTSans;
  src: url(../fonts/PTN57F.ttf);
}
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/suny.eot?354k9x');
  src:url('../fonts/suny.eot?354k9x#iefix') format('embedded-opentype'),
  url('../fonts/suny.ttf?354k9x') format('truetype'),
  url('../fonts/suny.woff?354k9x') format('woff'),
  url('../fonts/suny.svg?354k9x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-active-window:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-almost-full:before {
  content: "\e902";
}
.icon-almost-old:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e904";
}
.icon-cloudy:before {
  content: "\e905";
}
.icon-cloudy-day:before {
  content: "\e906";
}
.icon-delete:before {
  content: "\e907";
}
.icon-dust:before {
  content: "\e908";
}
.icon-empty-moon:before {
  content: "\e909";
}
.icon-fog:before {
  content: "\e90a";
}
.icon-full-moon:before {
  content: "\e90b";
}
.icon-grow-moon:before {
  content: "\e90c";
}
.icon-heavy-rain:before {
  content: "\e90d";
}
.icon-heavy-snow:before {
  content: "\e90e";
}
.icon-humidity:before {
  content: "\e90f";
}
.icon-menu:before {
  content: "\e910";
}
.icon-next-window:before {
  content: "\e911";
}
.icon-clear-night:before {
  content: "\e912";
}
.icon-night_cloudy:before {
  content: "\e913";
}
.icon-partly-cloudy-night:before {
  content: "\e914";
}
.icon-old-moon:before {
  content: "\e915";
}
.icon-partly-cloudy-day:before {
  content: "\e916";
}
.icon-rain:before {
  content: "\e917";
}
.icon-rain-snow:before {
  content: "\e918";
}
.icon-refresh:before {
  content: "\e919";
}
.icon-settings:before {
  content: "\e91a";
}
.icon-shower:before {
  content: "\e91b";
}
.icon-sleet:before {
  content: "\e91c";
}
.icon-sleet-rain:before {
  content: "\e91d";
}
.icon-snow:before {
  content: "\e91e";
}
.icon-clear-day:before,
.icon-sunny:before {
  content: "\e91f";
}
.icon-sunrise:before {
  content: "\e920";
}
.icon-sunset:before {
  content: "\e921";
}
.icon-thundershowers-sunny:before {
  content: "\e922";
}
.icon-thunderstorm:before {
  content: "\e923";
}
.icon-wind:before {
  content: "\e924";
}
.icon-wind-direction:before {
  content: "\e925";
}
.icon-young-moon:before {
  content: "\e926";
}

