<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:900,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="desktop/css/styles.css"/>
</head>
<body>
<header class="main-header wrapper">
    <h1 class="logo">
        <a class="icon icon-logo" href="#">REEN.</a>
    </h1>
    <nav class="main-nav">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="#">Home</a>
            </li><li class="menu-item">
                <a href="#">Portfolio</a>
            </li><li class="menu-item">
                <a href="#">Blog</a>
            </li><li class="menu-item">
                <a href="#">Pages</a>
            </li><li class="menu-item">
                <a href="#">Features</a>
            </li><li class="menu-item">
                <a href="#">Mega Menu</a>
            </li><li class="menu-item">
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<main class="main-content">
    <div class="hero">
        <div class="wrapper">
            <section class="section-description">
                <h2>Fresh and beautiful design</h2>
                <p>REEN is designed to showcase your talent and put your work in the forefront.  Professionally use of typography and layout that fits your content.</p>
            </section>
        </div>
    </div>
    <div class="who-we-are wrapper">
        <section class="section-description">
            <h2>Beautiful. Clean. Responsive.</h2>
            <p>REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</p>
        </section>
        <ul class="traits-list">
            <li class="trait-item">
                <i class="icon icon-hearth"></i>
                <h3>Passion</h3>
                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
            </li><li class="trait-item">
                <i class="icon icon-lamp"></i>
                <h3>Creativity</h3>
                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
            </li><li class="trait-item">
                <i class="icon icon-star"></i>
                <h3>Quality</h3>
                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
            </li>
        </ul>
    </div>
    <div class="latest-works">
        <div class="wrapper">
            <section class="section-description">
                <h2>Check out our latest works</h2>
                <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>
            </section>
            <div class="last-works-box">
                <figure class="last-work">
                    <img src="desktop/img/big-work1.jpg" alt="work"/>
                    <figcaption>
                        <h3>Grand Motel gets an identity brushup</h3>
                        <p>Identity</p>
                    </figcaption>
                </figure><figure class="last-work">
                    <img src="desktop/img/big-work2.jpg" alt="work"/>
                    <figcaption>
                        <h3>Fresh branding for a creative startup</h3>
                        <p>Identity</p>
                    </figcaption>
                </figure>
            </div>
            <div class="carousel">
                <input type="radio" name="slides" id="radio-1">
                <input type="radio" name="slides" id="radio-2" checked>
                <input type="radio" name="slides" id="radio-3">
                <ul class="slides-list">
                    <li class="slide-item">
                        <img src="desktop/img/carousel-work1.jpg" alt="work"/>
                        <div class="mask">
                            <h3>Simpli Nota</h3>
                            <p>Identity</p>
                        </div>
                    </li><li class="slide-item">
                        <img src="desktop/img/carousel-work2.jpg" alt="work"/>
                        <div class="mask">
                            <h3>Vinyl Record</h3>
                            <p>Identity</p>
                        </div>
                    </li><li class="slide-item">
                        <img src="desktop/img/carousel-work3.jpg" alt="work"/>
                        <div class="mask">
                            <h3>Astro & Yancy</h3>
                            <p>Identity</p>
                        </div>
                    </li><li class="slide-item">
                        <img src="desktop/img/carousel-work4.jpg" alt="work"/>
                        <div class="mask">
                            <h3>Signwall</h3>
                            <p>Identity</p>
                        </div>
                    </li><li class="slide-item">
                        <img src="desktop/img/carousel-work1.jpg" alt="work"/>
                        <div class="mask">
                            <h3>Simpli Nota</h3>
                            <p>Identity</p>
                        </div>
                    </li><li class="slide-item">
                        <img src="desktop/img/carousel-work2.jpg" alt="work"/>
                        <div class="mask">
                            <h3>Vinyl Record</h3>
                            <p>Identity</p>
                        </div>
                    </li><li class="slide-item">
                        <img src="desktop/img/carousel-work3.jpg" alt="work"/>
                        <div class="mask">
                            <h3>Astro & Yancy</h3>
                            <p>Identity</p>
                        </div>
                    </li><li class="slide-item">
                        <img src="desktop/img/carousel-work4.jpg" alt="work"/>
                        <div class="mask">
                            <h3>Signwall</h3>
                            <p>Identity</p>
                        </div>
                    </li><li class="slide-item">
                        <img src="desktop/img/carousel-work1.jpg" alt="work"/>
                        <div class="mask">
                            <h3>Simpli Nota</h3>
                            <p>Identity</p>
                        </div>
                    </li><li class="slide-item">
                        <img src="desktop/img/carousel-work2.jpg" alt="work"/>
                        <div class="mask">
                            <h3>Vinyl Record</h3>
                            <p>Identity</p>
                        </div>
                    </li><li class="slide-item">
                        <img src="desktop/img/carousel-work3.jpg" alt="work"/>
                        <div class="mask">
                            <h3>Astro & Yancy</h3>
                            <p>Identity</p>
                        </div>
                    </li><li class="slide-item">
                        <img src="desktop/img/carousel-work4.jpg" alt="work"/>
                        <div class="mask">
                            <h3>Signwall</h3>
                            <p>Identity</p>
                        </div>
                    </li>
                </ul>
                <div class="slides-navigation">
                    <label for="radio-1" class="dotForRadio-1">
                    </label><label for="radio-2" class="dotForRadio-2">
                    </label><label for="radio-3" class="dotForRadio-3">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="work-with-us wrapper">
        <section class="section-description">
            <h2>Want to work with us?</h2>
            <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
        </section>
        <a class="button get-it-touch" href="#">Get in touch</a>
    </div>
</main>
<footer class="main-footer clearfix">
    <div class="wrapper">
        <section class="left-footer">
            <h2>Who we are</h2>
            <div class="footer-logo"><a class="icon icon-whitelogo" href="#">REEN.</a></div>
            <p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
            <a class="more" href="#">More about us</a>
        </section>
        <section class="right-footer">
            <h2>Free updates</h2>
            <p>Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.</p>
            <form class="form-subscribe" id="form-subscribe" action="#">
                <input class="email" type="email" placeholder="Enter your email address"/><input class="button submit" type="submit" value="Subscribe"/>
            </form>
        </section>
    </div>
</footer>
</body>
</html>