<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:900,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="mobile/css/styles.css"/>
</head>
<body>
<header class="main-header wrapper">
    <input type="checkbox" name="toggle" id="toggle"/>
    <label class="toggle-label" for="toggle"><span></span></label>
    <h1 class="logo">
        <a class="icon icon-logo" href="#">REEN.</a>
    </h1>
    <nav class="main-nav">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="#">Home</a>
            </li><li class="menu-item">
                <a href="#">Portfolio</a>
            </li><li class="menu-item">
                <a href="#">Blog</a>
            </li><li class="menu-item">
                <a href="#">Pages</a>
            </li><li class="menu-item">
                <a href="#">Features</a>
            </li><li class="menu-item">
                <a href="#">Mega Menu</a>
            </li><li class="menu-item">
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<main class="main-content">
    <div class="hero">
        <div class="wrapper">
            <section class="section-description">
                <h2>Fresh and beautiful design</h2>
                <p>REEN is designed to showcase your talent and put your work in the forefront.  Professionally use of typography and layout that fits your content.</p>
                <a class="button get-it-touch" href="#">Work with us</a>
            </section>
        </div>
    </div>
    <div class="carousel">
        <div class="wrapper">
            <input type="radio" name="slides" id="radio-1">
            <input type="radio" name="slides" id="radio-2">
            <input type="radio" name="slides" id="radio-3" checked>
            <input type="radio" name="slides" id="radio-4">
            <ul class="slides-list">
                <li class="slide-item">
                    <img src="mobile/img/carousel-work1.jpg" alt="work"/>
                    <div class="mask">
                        <h3>Simpli Nota</h3>
                        <p>Identity</p>
                    </div>
                </li><li class="slide-item">
                    <img src="mobile/img/carousel-work2.jpg" alt="work"/>
                    <div class="mask">
                        <h3>Vinyl Record</h3>
                        <p>Identity</p>
                    </div>
                </li><li class="slide-item">
                    <img src="mobile/img/carousel-work3.jpg" alt="work"/>
                    <div class="mask">
                        <h3>Astro & Yancy</h3>
                        <p>Identity</p>
                    </div>
                </li><li class="slide-item">
                    <img src="mobile/img/carousel-work4.jpg" alt="work"/>
                    <div class="mask">
                        <h3>Signwall</h3>
                        <p>Identity</p>
                    </div>
                </li>
            </ul>
            <div class="slides-navigation">
                <label for="radio-1" class="dotForRadio-1">
                </label><label for="radio-2" class="dotForRadio-2">
                </label><label for="radio-3" class="dotForRadio-3">
                </label><label for="radio-4" class="dotForRadio-4">
                </label>
            </div>
        </div>
    </div>
    <div class="who-we-are wrapper">
        <section class="section-description">
            <h2>Beautiful. Clean. Responsive.</h2>
            <p>REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</p>
        </section>
        <ul class="traits-list">
            <li class="trait-item">
                <i class="icon icon-hearth"></i>
                <h3>Passion</h3>
                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
            </li><li class="trait-item">
                <i class="icon icon-lamp"></i>
                <h3>Creativity</h3>
                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
            </li><li class="trait-item">
                <i class="icon icon-star"></i>
                <h3>Quality</h3>
                <p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
            </li>
        </ul>
    </div>
    <div class="latest-works">
        <div class="wrapper">
            <section class="section-description">
                <h2>Check out our latest works</h2>
            </section>
            <div class="last-works-box">
                <figure class="last-work">
                    <img src="mobile/img/big-work1.jpg" alt="work"/>
                    <figcaption>
                        <h3>Grand Motel gets an identity brushup</h3>
                        <p>Identity</p>
                    </figcaption>
                </figure><figure class="last-work">
                    <img src="mobile/img/big-work2.jpg" alt="work"/>
                    <figcaption>
                        <h3>Fresh branding for a creative startup</h3>
                        <p>Identity</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</main>
<footer class="main-footer">
    <div class="wrapper">
        <form class="form-subscribe" id="form-subscribe" action="#">
            <input class="email" type="email" placeholder="Enter your email address"/><input class="button submit" type="submit" value="Subscribe"/>
        </form>
        <a class="about-us" href="#">More about us</a>
    </div>
</footer>
</body>
</html>